@charset "UTF-8";

.provider-list .item { 
    position: relative; display: flex; height: 150px;
    box-shadow: 0 0 10px 5px #00000020; 
    background-size: auto 500px;
    background-position: right 50%;
    background-repeat: no-repeat;
    transition: height 0.5s;
    cursor: pointer;
 }
.provider-list .item img { width: 100px; height: 100px; }
.provider-list .item .info { 
    position: absolute; left: 0; top:0;
    width: 100%; height: 100%;
    background-color: #ffffffce;
    padding: 30px;
 }
.provider-list .item .item-title { font-weight: bold; color: var(--red) }
.provider-list .item:hover { height: 200px; }
.provider-list .item:hover .info { background-color: transparent; }


.provider-list .item .video { 
    pointer-events: none; opacity: 0;
    position: absolute; overflow: hidden; 
    width: 300px; height: 200px; border-radius: 5px; z-index: 1;
    transition: opacity 0.5s, transform 0.5s;
}
.provider-list .item .video:nth-of-type(1) { left: 20px; top: 30px; }
.provider-list .item .video:nth-of-type(2) { left: 50px; top: 250px; }
.provider-list .item .video:nth-of-type(3) { left: 330px; top: 120px; }

.provider-list .item .video img { width: 100%; height: 100%; }
.provider-list .item .video:hover .v-info { top: 30px; opacity: 1; }
.provider-list .item .video .v-info { 
    width: 100%; height: calc(100% - 30px);
    position: absolute; left: 0; top: 100%; opacity: 0;
    padding: 10px; background-color: #ffffffce;
    transition: top 0.5s, opacity 0.5s;
}

.provider-list .item .video .v-info p {
    font-size: 0.9em;
    height: 6em;
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.provide-box:checked + .item { height: 500px; }
.provide-box:checked + .item .info { background: transparent }

.provide-box:checked + .item .video { 
    pointer-events: all; opacity: 1;
}